body
{
    font-family: 'Noto Sans JP', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 0;
}

/* navigation-bar start */
.navigation-bar {
    padding: 24px 0 24px 0;
    display: flex;
    align-items: center;
}

.navigation-bar img.left {
    width: 12px;
    height: 21px;
    object-fit: cover;
    object-position: center;
}

.navigation-bar h2 {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.01em;
    color: #1D232B;
}

.navigation-bar img.right {
    width: 21px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

/* user-bar start */
.user-bar img.avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.user-bar .info {
    display: flex;
}

.user-bar .info h1 {
    font-weight: 900;
    font-size: 19px;
    color: #1D232B;
}

.user-bar .info img.tick{
    width: 19px;
    height: 18px;
    margin: 0px 7px;
    object-fit: cover;
    object-position: center;
}

.user-bar .info span {
    color: #919EB6;
    font-weight: 500;
    font-size: 13px;
}

.user-bar .sub-info span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #919EB6;
}

.user-bar .sub-info span.dot{
    color: #919EB6;
    font-size: 34px;
    position: relative;
    bottom: 5px;
    line-height: 16px;
}

.user-bar a.g-btn{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    border: 1px solid #01B99F;
    background: #01B99F;
    padding: 6px 15px;
    border-radius: 100px;
}

/* content-section start */
.content-section h2 {
    font-weight: 900;
    font-size: 13px;
    color: #1D232B;
    padding-bottom: 15px;
    padding-top: 18px;
    letter-spacing: -0.01em;
}

.content-section p {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #313B49;
    padding-bottom: 15px;
    line-height: 1.7;
}

.content-section .tags span {
    color: #5A6B87;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 12px;
    background: #F7F8FA;
    border: 0.5px solid #CED3DE;
    border-radius: 999px;
    margin: 0 2px;
    line-height: 41px;
}

/* image-slider start */
.image-slider {
    padding: 16px 0;
}

.image-slider img {
    border-radius: 15px;
}

/* heart-msg-bar start */
.heart-msg-bar {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #F7F8FA;
}

.heart-msg-bar img.heart {
    width: 28px;
    height: 25px;
    object-fit: cover;
    object-position: center;
}

.heart-msg-bar img.talk {
    width: 26px;
    height: 26px;
    object-fit: cover;
    object-position: center;
}

.heart-msg-bar span {
    font-weight: 400;
    font-size: 16px;
    color: #919EB6;
    padding-right: 13px;
    padding-left: 2px;
    position: relative;
    top: 2px;
}

.heart-msg-bar img.bookmark {
    width: 20px;
    height: 26px;
    object-fit: cover;
    object-position: center;
}

.heart-msg-bar img.dots {
    width: 59px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: 7px;
    bottom: 1px;
}

/* chat-section start */
.chat-section {
    padding-top: 13px;
}

.chat-section img.avatar{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
}

.chat-section .info {
    display: flex;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
}

.chat-section .info h1 {
    font-weight: 900;
    font-size: 19px;
    color: #1D232B;
}

.chat-section .info img.tick{
    width: 19px;
    height: 18px;
    margin: 0px 7px;
    object-fit: cover;
    object-position: center;
}

.chat-section .info span {
    color: #919EB6;
    font-weight: 500;
    font-size: 13px;
}

.chat-section .info img.three-dots {
    width: 48px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
    bottom: 22px;
    left: 60px;
}

.chat-section .comment p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #313B49;
}

.chat-section .heart-msg {
    padding-top: 5px;
    padding-bottom: 25px;
}

.chat-section .heart-msg img.heart {
    width: 21px;
    height: 19px;
    object-fit: cover;
    object-position: center;
}

.chat-section .heart-msg img.talk {
    width: 21px;
    height: 21px;
    object-fit: cover;
    object-position: center;
}

.chat-section .heart-msg span {
    font-weight: 400;
    font-size: 14px;
    color: #919EB6;
    padding-right: 10px;
    padding-left: 1px;
    position: relative;
    top: 1px;
}

.chat-section .user-info {
    display: flex;
    margin-bottom: 15px;
}

.chat-section .user-info img.avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
}

.chat-section .user-info h1.title {
    font-weight: 900;
    font-size: 20px;
    color: #1D232B;
    padding-left: 12px;
    padding-right: 9px;
    position: relative;
    top: 10px;
}

.chat-section .user-info span {
    color: #919EB6;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    top: 10px;
}

.chat-section .user-info img.threedots {
    width: 48px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
    bottom: 18px;
    left: 73px;
}

